.project-card {
    display: inline;
    width: 200px;
    padding: 1em;
    border: 2px solid var(--navy);
    display: flex;
    flex-direction: column;
}

.projects-content {
    display: flex;
    justify-content: center;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card-top {
    display: flex;
    justify-content: space-between;
}

.project-card-tech-list {
    padding: 0;
    color: var(--gray);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}