.project-card {
    display: flex;
    flex-direction: column;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card-top {
    display: flex;
    justify-content: space-between;
}

.project-tech-element {
    margin-bottom: 0;
}

/* The container for all links in the top right of the project card */
.project-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.project-link:hover{
    cursor: pointer;
}

.project-card-tech-list {
    padding: 0;
    color: var(--gray);
    display: flex;
    justify-content: left;
    justify-self: end;
    list-style-type: none;
    gap:30px;
}