.archive-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
}

.archive-item {
  width: 360px;
  height: 360px;
  padding: 5px;
  border: 1px solid gray;
}
