.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--navy);
  font-size: 20px;
  color: var(--white);
  padding: 0.5em 0;
  position: sticky;
  top: 0;
  border-bottom: 2px solid var(--teal);
}

.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-content-width);
}

.navbaar-links {
  display: flex;
  flex-direction: row;
}

.navbar-link {
  display: inline;
  margin: 0 20px;
}