.experience-section {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.experience-content {
    width: 100%;
    max-width: var(--max-content-width);
    min-height: 400px;
}

.experience-viewer {
    display:  grid;
    grid-template-columns: 2fr 5fr;
    width: var(--max-content-width);
}

.tabpanel {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

/* experience panel descriptions */

.experience-title {
    margin: 0px;
}

.experience-range {
    color: rgb(117, 117, 117);
    margin: 0;
}

.experience-description {
    color: rgb(107, 107, 107);
    font-size: 14px;
}