.home-content {
  width: 100%;
  min-height: 100vh;
  margin: 0px auto;
}

.home-content section {
  margin: 0px auto;
  padding-top: 40px;
}

.home-content section:nth-child(even) {
  background-color: var(--white-darker);
}

/* ABOUT ME CSS */

.about-me-section {
  display: flex;
  justify-content: center;
}

.about-me-content {
  display: flex;
  flex-direction: column-reverse;
  padding: 0px 40px;
  gap: 50px;
}

.about-me-description {
  text-align: justify;
}

.about-me-content {
  max-width: var(--max-content-width);
}

.profile-pic-section {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .about-me-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 40px;
    gap: 50px;
  }

  .profile-pic-section {
    grid-area: 1 / 2 / span 1 / span 1;
  }
}

.about-me-profile-container {
  height: 250px;
  width: 250px;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
}

.about-me-profile-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 4px solid var(--teal);
  border-radius: 5px;
  top: 20px;
  left: 20px;
  z-index: -1;
  box-sizing: border-box;
}

.profile-pic {
  z-index: 0;
  border-radius: 5px;
  width: 100%;
}
