.home-content {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0px auto;
}

.home-content section {
  margin: 0px auto;
}

.home-content section:nth-child(odd) {
  background-color: var(--white-darker);
}

.about-me-section {
  display: flex;
  justify-content: center;
}

.about-me-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.about-me-description {
  text-align: justify;
}

.about-me-content {
  max-width: var(--max-content-width);
}