.home-content {
  width: 100%;
  min-height: 100vh;
  margin: 0px auto;
}

.home-content section {
  margin: 0px auto;
  padding-top: 40px;
}

.home-content section:nth-child(even) {
  background-color: var(--white-darker);
}

/* ABOUT ME CSS */

.about-me-section {
  display: flex;
  justify-content: center;
}
