@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  /* Color Palette Selection */
  --navy: #2B2D42;
  --navy-lighter: hsl(235, 21%, 26%);
  --teal: #41E2BA;
  --white: #F7F7F9;
  --white-darker: hsl(240, 14%, 90%);
  --yellow: #F7E733;
  --orange: #EE6C4D;
  --max-content-width: 900px;
}

.background-white {
  background-color: var(--white);
}

.background-teal {
  background-color: var(--teal);
}

.background-navy {
  background-color: var(--navy);
}

.color-white {
  color: var(--white);
}

.color-teal {
  color: var(--teal);
}

.color-navy {
  color: var(--navy);
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway";
  /* color: var(--white); */
  background-color: var(--white);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
