@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  /* Color Palette Selection */
  --navy-lightest: hsl(235, 21%, 32%);
  --navy-lighter: hsl(235, 21%, 25%);
  --navy: hsl(235, 21%, 21%);
  --navy-darker: hsl(235, 21%, 17%);
  --navy-darker: hsl(235, 21%, 12%);

  --teal-lighter: hsl(165, 74%, 63%);
  --teal: #41e2ba;
  --teal-darker: hsl(165, 74%, 52%);
  --teal-darker: hsl(165, 74%, 42%);

  --white: hsl(240, 14%, 97%);
  --white-darker: hsl(240, 14%, 93%);
  --gray: hsl(0, 0%, 50%);
  --gray-darker: hsl(0, 0%, 35%);
  --gray-darkest: hsl(0, 0%, 20%);
  --yellow: #f7e733;
  --orange: #ee6c4d;
  --max-content-width: 900px;
}

.background-white {
  background-color: var(--white);
}

.background-teal {
  background-color: var(--teal);
}

.background-navy {
  background-color: var(--navy);
}

.color-white {
  color: var(--white);
}

.color-teal {
  color: var(--teal);
}

.color-navy {
  color: var(--navy);
}

html {
  scroll-behavior: smooth;
  font-family: 'Raleway';
  /* color: var(--white); */
  background-color: var(--white);
}

body {
  min-height: 100%;
  position: 'relative';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
