@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  /* Color Palette Selection */
  --navy: #2B2D42;
  --teal: #41E2BA;
  --white: #F7F7F9;
  --yellow: #F7E733;
  --orange: #EE6C4D;
  font-family: "Raleway";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
