/* footer { */
/* background: var(--navy); */
/* color: var(--white-darker); */
/* height: 100px; */
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
/* padding: 70px 0 50px 0; */
/* gap: 20px; */
/* } */

.footnote {
  color: rgba(247, 247, 249, 0.35);
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  background: var(--navy-lighter);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s 0s;
}

.social-icon:hover {
  background: var(--orange);
}

.footer-icon {
  fill: var(--white);
  font-size: 2em;
}
