.highlight {
  color: var(--teal);
}

.banner {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh);;
  margin:0;
  padding:0;
  background-color: var(--navy);
  color: white;
  font-weight: normal;
  font-size: 50px;
  font-family: "Raleway";
}

.banner-bg-canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.banner-text {
  z-index: 1;
  pointer-events: none;
}